@CHARSET "UTF-8";

.TableView{
padding:5px;
}

.TableView table{
border-collapse:collapse;
width:1000px;
}
.TableView td{
padding:5px;
}
.TableView .Row td{
}
.TableView .Row{
	font-size:18px;
	border:1px solid #dfdfff;
	cursor:pointer;
	border-bottom:1px solid #a0a0cf;
	border-top:1px solid #dfdfff;
}

.TableView .Row_hover td{
}
.TableView td{
	height:24px;
}

.TableView .Row_hover{
	cursor:pointer;
	border:1px solid #26a0da;
	background-color:#a6f4ff;
	border-bottom:1px solid #a0a0cf;
	border-top:1px solid #dfdfff;
}
.TableView .Header td{
	cursor:pointer;
	padding-left:28px;
	font-size:22px;
	font-style:bold;
	color:#000;
	background-color:#C0C0EF;
	/*border-bottom:1px solid #a0a0cf;
	border-top:1px solid #dfdfff;*/
}
.TableView .Odd{
	background:#D0D0EF;
	border-bottom:1px solid #c0c0ef;
	border-top:1px solid #dfdfff;
}
.TableView .Even{
	background:#f0f0f0;
	border-bottom:1px solid #d0d0df;
	border-top:1px solid #dfdfff;
}
.TableView .Mark{
	border:1px solid #26a0da;
	background-color:#a6f4ff;
	border-bottom:1px solid #a0a0cf;
	border-top:1px solid #dfdfff;
}