.ListItemView{
	margin:1px;
	padding:5px;
	cursor:pointer;
	border:1px solid transparent;
}
.ListItemView:hover{
	border:1px solid #26a0da;
	background-color:#a6f4ff;
	border-bottom:1px solid #a0a0cf;
	border-top:1px solid #dfdfff;
}