.SliderView{
	background-color:#FFF;
	border:1px solid #2AA;
	margin:0px;
	padding:0px;
	width:546px;
	zoom:1;
}
.SliderView .SliderButton{
}
.SliderView .SliderButton table{
	width:2000px;
	border-collapse:collapse
}
.SliderView .SliderButton td{
	border-bottom:4px solid #333;
	border-left:1px solid #333;
	border-right:1px solid #333;
	font-size:12px;
}