.LinkTable{
	text-align:left;
	zoom:1;
}
.LinkTable img{
	padding-left:40%;
	margin-right:20px;
}
.LinkTable .hover{
	padding:5px;
	cursor:pointer;
	border:1px solid #26a0da;
	background-color:#a6f4ff;
	border-bottom:1px solid #a0a0cf;
	border-top:1px solid #dfdfff;
}
.LinkTable .highlight{
	padding:5px;
	cursor:pointer;
	border:1px solid #26a0da;
	background-color:#a6f4ff;
	border-bottom:1px solid #a0a0cf;
	border-top:1px solid #dfdfff;
}
.LinkTable .odd{
	padding:5px;
	cursor:pointer;
	background-color:#f0f0f0;
	border-top:1px solid #e0e0ff;
	border-bottom:1px solid #e0e0ff;
}
.LinkTable .even{
	padding:5px;
	cursor:pointer;
	background-color:#e0e0ff;
	border-top:1px solid #f0f0f0;
	border-bottom:1px solid #f0f0f0;
}