.CollapsableLayout .Title{
	background-color:#b0b0ef;
	color:#000;
	text-align:center;
	font-size:24px;
	font-style:oblique;
	text-align:center;
	padding:10px;
	cursor:pointer;
	background-image:url('https://cdn3.iconfinder.com/data/icons/wpzoom-developer-icon-set/500/152-48.png');
	background-repeat:no-repeat;
    background-position:99% 50%;
	height:48px;
	border-top:1px solid #c0c0df;
	border-bottom:1px solid #a0a0df;
}
.CollapsableLayout .Title_Highlight{
	background-color:#D0D0FE;
	color:#333;
	border-top:1px solid #e0e0ff;
	border-bottom:1px solid #c0c0ef;
}
.CollapsableLayout .Container{
	background:#E0E0FF;
}
.CollapsableLayout .Visible{
	background-image:url('https://cdn3.iconfinder.com/data/icons/wpzoom-developer-icon-set/500/152-48.png');
    background-repeat:no-repeat;
    background-position:99% 50%;
	/*background-image:url('');*/
}
.CollapsableLayout .Hidden{
	background-image:url('https://cdn3.iconfinder.com/data/icons/eightyshades/512/09_Expand-48.png');
    background-repeat:no-repeat;
    background-position:99% 50%;
}
.CollapsableLayout .TopButton{
	font-size:21px;
	padding:5px;
	float:left;
}
.CollapsableLayout.TitleText{
display:inline-block;
}