.CollapsableLayout .Title{
	background-color:#D0D0FE;
	color:#333;
	border-top:1px solid #e0e0ff;
	border-bottom:1px solid #c0c0ef;
	
	text-align:center;
	font-size:12px;
	font-style:underline;
	text-align:center;
	padding:1px;
	cursor:pointer;
	background-image:url('/portail/image/arrow-up-small.png');
	background-repeat:no-repeat;
	background-position:right;
	height:28px;
}
.CollapsableLayout .TitleText{
	position:relative;
	left:-12px;
}
.CollapsableLayout .Title_Highlight{
	background-color:#b0b0ef;
	color:#000;
	border-top:1px solid #c0c0df;
	border-bottom:1px solid #a0a0df;
}
.CollapsableLayout .Container{
	background:#E0E0FF;
}
.CollapsableLayout .Visible{
	background-image:url('/portail/image/arrow-up-small.png');
}
.CollapsableLayout .Hidden{
	background-image:url('/portail/image/arrow-down-small.png');
}
.CollapsableLayout .TopButton{
	font-size:10px;
	padding:5px;
	float:left;
}
.CollapsableLayout.TitleText{
display:inline-block;
}
.CollapsableLayout hr{
display:none;
}
.CollapsableLayout{
font-family: Tahoma,Helvetica,Consolas,Verdana,sans-serif;
}